<% layout("layouts/boilerplate") %>
<section class="breadcrumbs">
    <ul>
        <a href="/produkty"><li>Produkty</li></a>
        <li> / </li>
        <a href="/produkty/filtracne-telesa"><li>Filtračné telesá</li></a>
        <li> / </li>
        <a href=""><li><%= teleso.nazov %></li></a>
    </ul>
</section>

<section class="container-narrow">
    <section class="showpage">
        <img src="<%= teleso.obrazok %>" alt="obrazok" width="400">
        <div class="showpage-description">
            <h3 class="showpage-title"><%= teleso.nazov %></h3>
            <table class="showpage-table">
                <tbody>
                    <tr>
                        <td class="table-title">Normálny Prietok</td>
                        <td><%= teleso.normPrietok %></td>
                    </tr>
                    <tr>
                        <td class="table-title">Filtračná schopnosť</td>
                        <td><%= teleso.filtrSchopnost %></td>
                    </tr>
                    <tr>
                        <td class="table-title">Max. teplota oleja</td>
                        <td><%= teleso.maxTepOleja %></td>
                    </tr>
                    <tr>
                        <td class="table-title">Max. objem nádrže</td>
                        <td><%= teleso.maxObjNadrze %></td>
                    </tr>
                    <tr>
                        <td class="table-title">Viskozita vstupného oleja</td>
                        <td><%= teleso.viskVstupnehoOleja %></td>
                    </tr>
                    <tr>
                        <td class="table-title">Prevádzkový / skúšobný tlak</td>
                        <td><%= teleso.prevSkusTlak %></td>
                    </tr>
                    <tr>
                        <td class="table-title">Hydr. pripojenie - vstup</td>
                        <td><%= teleso.hydrPripVstup %></td>
                    </tr>
                    <tr>
                        <td class="table-title">Hydr. pripojenie - výstup</td>
                        <td><%= teleso.hydrPripVystup %></td>
                    </tr>
                    <tr>
                        <td class="table-title">Vonkajšie rozmery</td>
                        <td><%= teleso.vonkRozm %></td>
                    </tr>
                    <tr>
                        <td class="table-title">Hmotnosť</td>
                        <td><%= teleso.hmotnost %></td>
                    </tr>
                    <tr>
                        <td class="table-title">Filtračná vložka</td>
                        <td><a href="/produkty/filtracne-vlozky/#<%= teleso.filtrVlozka.typ.slice(-3) %>"><%= teleso.filtrVlozka.typ %></a></td>
                    </tr>
                    <tr>
                        <td class="table-title">Materiál</td>
                        <td><%= teleso.material %></td>
                    </tr>
                    <tr>
                        <td class="table-title">Katégória</td>
                        <td><%= teleso.kategoria %></td>
                    </tr>
                </tbody>
            </table>
            <div class="item-control">
                <button><a href="/produkty/filtracne-telesa/<%=teleso._id%>/edit">Upraviť</a></button>
                <form action="/produkty/filtracne-telesa/<%= teleso._id %>?_method=DELETE" method="POST">
                <button>Odstrániť</button>
            </div>
        </div>
    </section>
</section>