<% layout("layouts/boilerplate") %>
<div class="container-narrow">
    <h2>Úprava filtračného zariadenia</h2>
    <form class="product-form" action="/produkty/filtracne-zariadenia/<%=zariadenie._id%>?_method=PUT" method="POST">
        <div>
            <label for="nazov">Názov</label>
            <input type="text" name="filtracneZariadenie[nazov]" value="<%= zariadenie.nazov %>" id="nazov" required>
        </div>
        <div>
            <label for="obrazok">Fotka</label>
            <input type="text" name="filtracneZariadenie[obrazok]" value="<%= zariadenie.obrazok %>" id="obrazok" required>
        </div>
        <div>
            <label for="objOlejNad">Objem olejovej nádrže</label>
            <input type="text" name="filtracneZariadenie[objOlejNad]" value="<%= zariadenie.objOlejNad %>" id="objOlejNad" required>
        </div>
        <div>
            <label for="elMotor">El. Motor</label>
            <input type="text" name="filtracneZariadenie[elMotor]" value="<%= zariadenie.elMotor %>" id="elMotor" required>
        </div>
        <div>
            <label for="normPriet">Norm. Prietok</label>
            <input type="text" name="filtracneZariadenie[normPriet]" value="<%= zariadenie.normPriet %>" id="normPriet" required>
        </div>
        <div>
            <label for="maxTlak">Max. tlak</label>
            <input type="text" name="filtracneZariadenie[maxTlak]" value="<%= zariadenie.maxTlak %>" id="maxTlak" required>
        </div>
        <div>
            <button class="add-product-button">✓ Uložiť</button>
            <a class="cancel-product-button" href="/produkty/filtracne-zariadenia">X Zrušiť</a>
        </div>
    </form>
</div>