<% layout("layouts/boilerplate") %>
<h1>Filtračné vložky</h1>
<a href="/produkty/filtracne-vlozky/new">Pridaj filtračnú vložku</a>

<% for(let vlozka of vlozky) { %>
    <div>
        <img src="<%= vlozka.obrazok %>" alt="obrazok">
        <table>
            <tbody>
                <tr>
                    <td>Typ</td>
                    <td><%= vlozka.typ %></a></td>
                </tr>
                <tr>
                    <td>Materiál</td>
                    <td><%= vlozka.material %></td>
                </tr>
                <tr>
                    <td>Priemer (mm)</td>
                    <td><%= vlozka.priemer %></td>
                </tr>
                <tr>
                    <td>Výška (mm)</td>
                    <td><%= vlozka.vyska %></td>
                </tr>
                <tr>
                    <td>Hmotnosť (g)</td>
                    <td><%= vlozka.hmotnost %></td>
                </tr>
                <tr>
                    <td>Prietok (l/min)</td>
                    <td><%= vlozka.prietok %></td>
                </tr>
                <tr>
                    <td>Absorbcia vody (l)</td>
                    <td><%= vlozka.absorbVody %></td>
                </tr>
                <tr>
                    <td>Kapacita filtra (NAS)</td>
                    <td><%= vlozka.kapFiltr %></td>
                </tr>
                <tr>
                    <td>Filtračné zariadenie</td>
                    <td><%= vlozka.filtrZar %></td>
                </tr>
            </tbody>
        </table>
        <button><a href="/produkty/filtracne-vlozky/<%=vlozka._id%>/edit">uprav filtračnú vložku</a></button>
        <form action="/produkty/filtracne-vlozky/<%= vlozka._id %>?_method=DELETE" method="POST">
        <button>Odstrán filtračnú vložku</button>
    </div>
<% } %>